<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/test case generation/src/edu/columbia/cs/psl/invivo/record/Instrumenter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.columbia.cs.psl.invivo.record.Instrumenter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="instrumented ../testcase-generation-tester/bin ../testcase-generation-tester/lib/cloning-1.7.9.jar"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="test case generation"/>
</launchConfiguration>
