<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/test case generation tester/src/edu/columbia/cs/psl/invivo/example/DummyDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.columbia.cs.psl.invivo.example.DummyDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="test case generation tester"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:lib/test-case-generation-premain.jar"/>
</launchConfiguration>
